@import './assets/scss/global.scss';
@import './assets/scss/footer';
@import './assets/scss/hero.scss';
@import './assets/scss/section.scss';
@import './assets/scss/contact-modal.scss';
@import './assets/scss/variables.scss';
@import './assets//scss//navigation.scss';
ul{
	margin:0;
	padding:0;
}



//chat modal background 
.hide-modal {
	opacity: 1 !important;
	height: 100% !important;
	width: 100% !important;
}
.hide-modal-visible {
	position: fixed;
	z-index: 2;
	background: rgba(0, 0, 0, 0.3);
	height: 0%;
	width: 0;
	top: 0;
	right: 0;
}
//form errors
.error{
	display:none;
	
}
.error-visible{
	color:$red;
	display: block !important; 
}
.error-border{
	border-color:$red !important;
}